<div id=sceneStyle>
<!--	<div class="palm-header">
		<div class="palm-header-wrapper">
			<div class="truncating-text" x-mojo-loc=''>Search Ampache</div>
		</div>
	</div>-->
<div id='scrimSpinner' class="palm-scrim" style="display:none;">
	<center>
		<div id="spinner" x-mojo-element="Spinner"></div>
			<div id ="cancelSearch">
				<img src=images/cancel.png></img>
			</div>
			<div class=smallText id=percentageDone></div>
	</center>
</div>
<div id=searchView style="display:none">
	<div class="myHeaderSpacerMenuSearch"></div>
		<div class="filter-field-container" x-mojo-focus-highlight="true">
			<div class="filter-field-wrapper" style="height: 42px;">
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group">
						<div class="title">
							<div id="searchField" x-mojo-element="TextField" class="search-field"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--		<div id=categoryDrawer x-mojo-element="Drawer" >
		<div class="palm-row single">
    			<div class="palm-list">
					<div id="categoryList" x-mojo-element="List" x-mojo-tap-highlight="momentary"></div>
				</div>
		</div>-->
			<div id=toggleCategory><img src=images/menu-button.png></img></div>
			<div id=category align=center class=xsmallText></div>
</div>
<div id=homeHeader align=center></div>
<!--<div class="palm-group">
	<div class="palm-group-title">Search</div>	
	<div class="palm-list">
		<div class="palm-row single">	
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
				<div class="title">
			      <div id="searchField" x-mojo-element="TextField"></div>
				</div>
			</div>
	</div>
</div>
</div>-->
	<!--<button class="palm-button" id="searchButton">Search</button><br/>-->

<!--<div id='favs' class=listDividerCenter style="display:none;">-->	

<div id=singleBorder>	
	<div class="palm-list">
		<div class="palm-row single">
    		<div x-mojo-element="Scroller" id="scrollerId"   style="height: 382px;">	
    			<div class="palm-list">
					<div id="homeList" x-mojo-element="List" x-mojo-tap-highlight="momentary"></div>
				</div>
			</div>
		</div>
	</div>	
</div>
	
	<!--<center><div id = 'aotm' class=smallText>Albums of the Momment</div></center>-->
<!--<div id="enter" class="palm-button"></div>-->
<!--<div class="storyList-filter">
    	<div x-mojo-element="FilterList" id="filterList"></div>
	</div>
</div>	-->	
<!--	<button class="palm-button" id="artist">Browse by Artist</button>
	<button class="palm-button" id="album">Browse by Album</button>
	<button class="palm-button" id="genre">Browse by Genre</button>-->
