<div class=splash-background>
<!--
<div id = 'debugHeader'>
<div class="palm-header center"><div id="spinnerSmall" x-mojo-element="Spinner"></div>
    <div class="palm-header-wrapper">
<div class="smallText" id=debug></div>
    </div>
</div>-->
	<!--<div id="logo"><img src="images/logo.png" />-->
<div id='scrimSpinner' class="palm-scrim" style="display:none;"><center><div id="spinner" x-mojo-element="Spinner"></div></center></div>
    <div style ="padding-top: 203px;">
        <center>
<!--            <div class='smallText'>
                Logging in to
            </div>
-->
            <div id='loginStatus' class='xsmallText'>
            </div>
            <div id="spinnerSmall" x-mojo-element="Spinner">
            </div>
            <div style ="padding-top: 100px;" id='accountname' class='xsmallText'>
            </div>
        </center>
</div>
<!--<div class="palm-row-wrapper" align=right>
 <div x-mojo-element="ListSelector" id="loginAccount"></div>
</div>	-->
	<!--<button class="palm-button" id="login">Login<div id="spinner" x-mojo-element="Spinner"></div></button>-->
<!--	<button class="palm-button secondary" id="secondaryButton">Secondary</button>
	<button class="palm-button disabled" id="dismissalButton">dismissal</button>
	<button class="palm-button affirmative" id="affirmativeButton">Affirmative</button>
	<button class="palm-button negative" id="negativeButton">Negative</button>
	<div x-mojo-element="Button" id="activityButton"></div>
</div> -->
