<div id=row class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src=images/genre.png class="listImage">
			<img src=images/eclipse_arrow_gloss2.png class="addFavs">
				<div class="listTitle truncating-text">
						#{-name}
					<div class="listInfo" style="width: 90%;">
						<div class="floatLeft truncating-text" style="width: 30%;">
							Artists: #{-artists}
						</div>
						<div class="floatLeft truncating-text" style="width: 30%;">
							Albums: #{-albums}
						</div>
						<div class="floatRight truncating-text" style="width: 30%;">
							Songs: #{-songs}
						</div>
					</div>
				</div>
			</img>
		</img>
	</div>
</div>