<div id=sceneStyle>
<div id='scrimSpinner' class="palm-scrim" style="display:none;"><center><div id="spinner" x-mojo-element="Spinner"></div></center></div>	
<!--<div class='palm-row'>
    <div class="palm-row-wrapper">	-->
<!--	<div class="palm-group">-->
<div id=listBorder style="
-webkit-border-radius: 20px;
border: 2px 
solid #fff;
padding: 5px;
height: 437px;">
<div class="myHeaderSpacer"></div>
	<div class="palm-list">
		<div class="palm-row single">
    		<div x-mojo-element="Scroller" id="scrollerId" style="height: 348px;">	
    			<div class="palm-list">
					<div id="listTagsWidget" x-mojo-element="List"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class=mySpacer></div>
<center><div id="spinnerSmall" x-mojo-element="Spinner"></div></center>
<!--	</div>
</div>-->

<!--<div class="storyList-filter">
    	<div x-mojo-element="FilterList" id="filterList"></div>
	</div>
</div>	
 	<!--<div id="spin-scrim" class="palm-scrim">
		<div x-mojo-element="Spinner" id="spinner" class="loading-spinner"></div>
	</div> 
-->	
