<div id=row class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src=images/lists.png  width=22px height=22px class="listImage">
			<img src=images/eclipse_arrow_gloss2.png class="addFavs">
				<div class="listTitle truncating-text">
						#{-name}
					<div class="listInfo truncating-text" style="width: 95%;">
						<div class="floatLeft truncating-text" style="width: 85%;">
							#{-notes}
						</div>
	<!--					<div class=floatRight style="width: 10%;text-align:right;">
							#{-time}
						</div>-->
					</div>
				</div>
			</img>
		</img>
	</div>
</div>