<div id=sceneStyle>
<div id='scrimSpinner' class="palm-scrim" style="display:none;"><center><div id="spinner" x-mojo-element="Spinner"></div><div id=status class=xsmallText></div></center></div>	
<div id=listBorder style="
-webkit-border-radius: 20px;
border: 2px 
solid #fff;
padding: 5px;
height: 437px;">
<div class="palm-header center">
    <div class="palm-header-wrapper">
<div id='status' class="truncating-text" x-mojo-loc=''>Playlists<div id="spinnerSmall" x-mojo-element="Spinner"></div></div>
    </div>	
</div>	
<div class="myHeaderSpacer"></div>
	<div class="palm-list">
		<div class="palm-row single">
    		<div x-mojo-element="Scroller" id="scrollerId" style="height: 348px;">		
    			<div class="palm-list">
					<div id="listPlaylistsList" x-mojo-element="List"></div>
				</div>
			</div>
		</div>
	</div>
