<div class="palm-dark" id=sceneStyle>	
		<div class="palm-header">
			<center>Download Mp3</center>
		</div>
<div class="palm-header-spacer"></div>	
<div style="
-webkit-border-radius: 20px;
border: 2px 
solid #fff;
padding: 8px;" >
<div class="palm-list">
	 <table width=100% class=tbl>
		<tr>	
			<td width=100%>
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
			      			<div id='mp3Url' x-mojo-element="TextField"></div>
						</div>
					</div>	
				</div>
			</td>
		</tr>
	</table>
	 <table width=100% class=tbl>
		<tr>	
			<td width=85%>
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
			      			<div id='artist' x-mojo-element="TextField"></div>
						</div>
					</div>	
				</div>
			</td>
			<td width=15%>
				<div class=searchBox id=searchArtist></div>
			</td>	
		</tr>
	</table>
	 <table width=100% class=tbl>
		<tr>	
			<td width=85%>
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
			      			<div id='album' x-mojo-element="TextField"></div>
						</div>
					</div>	
				</div>
			</td>
			<td width=15%>
				<div class=searchBox id=searchAlbum></div>
			</td>	
		</tr>
	</table>
	 <table width=100% class=tbl>
		<tr>	
			<td width=85%>
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
			      			<div id='song' x-mojo-element="TextField"></div>
						</div>
					</div>	
				</div>
			</td>
			<td width=15%>
				<div class=searchBox id=searchSong></div>
			</td>	
		</tr>
	</table>
	 <table width=100% class=tbl>
		<tr>	
			<td width=85%>
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
			      			<div id='art' x-mojo-element="TextField"></div>
						</div>
					</div>	
				</div>
			</td>
			<td width=15%>
				<div class=searchBox id=searchArt></div>
			</td>	
		</tr>
	</table>
</div>
</div>
<div id='warning' align='center' class='smallText'></div>
<button class="palm-button affirmative" id="save">Save</button>
<button class="palm-button affirmative" id="searchAll">Search All</button>