<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src=images/artist.png class="listImage">
			<img src=images/eclipse_arrow_gloss2.png class="addFavs">
				<div class="listTitle truncating-text">
						#{-video}
					<div class="listInfo truncating-text" style="width: 90%;">
						<div class="floatLeft truncating-text" style="width: 50%;">
							#{-resolution}
						</div>
						<div class=floatRight style="width: 50%;">
							#{-mime}
						</div>
					</div>
				</div>
			</img>
		</img>
	</div>
</div>