<div id=row class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src=images/cd.png class="listImage">
			<img src=images/eclipse_arrow_gloss2.png class="addFavs">
				<div class="listTitle truncating-text">
						#{-album}
					<div class="listInfo" style="width: 91%;">
						<div class="floatLeft truncating-text" style="width: 55%;">
							by #{-artist}
						</div>
						<div class=floatRight style="width: 35%;">
							Songs: #{-songs},
							<div class=floatRight>
								#{-year}
							</div>
						</div>
					</div>
				</div>
			</img>
		</img>
	</div>
</div>