<div id=sceneStyle>

<div id='scrimSpinner' class="palm-scrim" style="display:none;"><center><div id="spinner" x-mojo-element="Spinner"></div></center></div>
<div class="palm-header center">
    <div class="palm-header-wrapper">
			Bookmarks
    </div>
</div>
<div id=listBorder style="
-webkit-border-radius: 20px;
border: 2px 
solid #fff;
padding: 5px;
height: 437px;">
<div class="myHeaderSpacer"></div>
<div id='favs'>	
	<div class="palm-list">
		<div class="palm-row single">
    		<div x-mojo-element="Scroller" id="scrollerId"  style="height: 348px;">		
    			<div class="palm-list">
					<div id="favorites" x-mojo-element="List" x-mojo-tap-highlight="momentary"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

