<!-- TODO: replace the contents of this file with your own html -->
<div class="mediumText">
<br>
<br>
<center>
	<img src=icon.png></img><br>
	<div class="largeText">Server Info</div>
	<br>
	
	<table width="100%" cellpadding="0" cellspacing="0" border=0>
    <tr>
        <td width=30%>
            <div align=center>Version:</div>
        </td>
        <td>
            <div align=left id=ampacheVersion>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Api: </div>
        </td>
        <td>
            <div align=left id=apiCompatible>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Server Url:</div>
        </td>
        <td>
            <div align=left id=serverUrl>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Stream Url:</div>
        </td>
        <td>
            <div align=left id=streamUrl>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>User Name:</div>
        </td>
        <td>
            <div align=left id=username>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Artists:</div>
        </td>
        <td>
            <div align=left id=serverArtists>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Songs:</div>
        </td>
        <td>
            <div align=left id=serverSongs>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
           <div align=center>Albums:</div>
        </td>
        <td>
            <div align=left id=serverAlbums>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Playlists:</div>
        </td>
        <td>
            <div align=left id=playLists>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Videos:</div>
        </td>
        <td>
            <div align=left id=videos>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
           <div align=center>Session Expire:</div>
        </td>
        <td>
            <div align=left id=ApiSessionExpire>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
           <div align=center>Last Login:</div>
        </td>
        <td>
            <div align=left id=lastLoginRefresh>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
           <div align=center>Last Update:</div>
        </td>
        <td>
            <div align=left id=lastUpdate>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Last Add:</div>
        </td>
        <td>
            <div align=left id=lastAdd>
            </div>
        </td>
    </tr>
    <tr>
        <td width=30%>
            <div align=center>Last Clean:</div>
        </td>
        <td>
            <div align=left id=lastClean>
            </div>
        </td>
    </tr>
</table>
</center>
<br>
<div>Last Play Url:</div>
<div id=lastStream></div>
</div>