<!--<div id=sceneStyle>-->
<div class='palm-row'>
    <div class='palm-row-wrapper'>
<table width="100%" cellpadding="0" cellspacing="1" class='tbl'>
<tr>
	<td align="left" width='17%'>
		<div id=nowPlayingArt></div>   
	</td>
	<td align="left" width='53%'>
			<div id=song align=left class="largeText truncating-text"></div>
			<div id=artist align=left class="smallText truncating-text"></div>
			<div id=timer class=xsmallText align=left></div>
	</td>
	<td align="right" width='10%'>
			<div id=previous align=center></div>
	</td>
	<td align="right" width='10%'>
			<div id=playPause align=center></div>
	</td>
	<td align="right" width='10%'>
			<div id=next align=center></div>
	</td>
</tr>
</table>
	</div>
</div>