<div id=row class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src=images/16thNote.png class="listImage">
			<img src=images/eclipse_arrow_gloss2.png class="addFavs">
				<div class="listTitle truncating-text">
						#{-song}
					<div class="listInfo" style="width: 90%;">
						<div class="floatLeft truncating-text" style="width: 50%;">
							by #{-artist}
						</div>
						<div class="floatLeft truncating-text" style="width: 30%;">
							#{-album}
						</div>
						<div class=floatRight style="width: 10%;text-align:right;">
							#{-time}
						</div>
					</div>
				</div>
			</img>
		</img>
	</div>
</div>