<div id=row class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<!--<div id=#{-uniqueProgressId} x-mojo-element="ProgressBar">-->
			<div id=#{-uniqueId}>
				<img src=images/16thNote.png class="listImage">
			</div>
				<img src=images/eclipse_arrow_gloss2.png class="addFavs">
					<div class="listTitle truncating-text">
						<div id=#{-uniqueProgressId} class="floatLeft"></div>
							#{-song}
						<div class="listInfo" style="width: 95%;">
							<div class="floatLeft truncating-text" style="width: 40%;">
								by #{-artist}
							</div>
							<div class="floatLeft truncating-text" style="width: 26%;">
								#{-album}
							</div>
							<div id=#{-uniqueTimeId} class=floatRight style="width: 19%;text-align:right;">
								#{-time}
							</div>
						</div>
					</div>
	</div>
</div>