<div id=sceneStyleNP>
<!--<div id='scrimSpinner' class="palm-scrim">
	<center><div id="spinner" x-mojo-element="Spinner"></div></center>
</div>	-->	
<!--<div class="palm-header center"><!--<div id="spinner" x-mojo-element="Spinner"></div>
    <div class="palm-header-wrapper">-->
    	<!--<div id="artist" align="center" class="truncating-text"></div></div></div>-->

		<table width="100%" cellpadding="0" cellspacing="0" border=0 class=tbl2>
			<tr>
				<td width=15% id="playList">
					<div align="right"><img src=images/listNowPlaying.png></img></div>
				</td>   	
				<td width=70%>
					<div id="artist" align="center" class="largeText truncating-text"></div>
					<div id="album" align=center class="xsmallText truncating-text"></div>
				</td>
				<td width=15% id="playModeImg">
					<div align="right"></div>
				</td> 	
			</tr>
		</table>	
<!--    </div>
</div>
<div class="myHeaderSpacer"></div>
<div class="mySpacer"></div>-->
<center>
	
<!--				<td width=7%>
					<div id="listInfo" align="center" class="smallText truncating-text"></div>
				</td> -->

	<div align="center" x-mojo-element="ImageView" id="ImageId"></div>

<table width="100%" cellpadding="0" cellspacing="0" class="tbl" border=0>
	<tr>
		<td align="left" width=50px><div id="duration" align="center" class="mediumText"></div></td>
		<td align="center"><div align=center id="song" class="mediumText truncating-text"></div></td>
		<td align="right" width=50px><div id="timer" align="center" class="mediumText"></div></td>
	</tr>
</table>
	<div id="listInfo" align=center class="xsmallText truncating-text"></div>
	<div x-mojo-element="ProgressBar" align="center" id="progressbarId" class="prebuffer"></div>
<div id=error align=center class='smallText'></div>
</center>
<!--<div id=progress align=center class='xsmallText'></div>-->
<!--<div id=debug align=center class='xsmallText'></div>-->
<!--<table width="100%" cellpadding="0" cellspacing="3" class="tbl" border=0>
	<tr>
		<td><div x-mojo-element="ProgressSlider" id="streamSlider" class="stream-buffer-bar streamer"></div></td>
	</tr>
</table>-->
